@page
@model USAble_proj.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.Closed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.Closed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ItemCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ItemCost)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Orders.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
