@page
@model USAble_proj1.Pages.Orders.All_OrdersModel
@{
    ViewData["Title"] = "All_Orders";
}

<h1>All Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Closed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    
}
    </tbody>
</table>